  <div class='test' ng-controller='TestController as testCtrl'>{{testCtrl.test}}</div>
  <!-- header -->
  <div class="well">
    <div class="container">
      <div class="page-header">
        <h1>Listly - easily store lists</h1>
      </div>
    </div>
  </div>

  <!-- page content -->
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-md-offset-2">

        <!-- new list form-->
        <form class="form-inline" id="create-todo">
          <div class="form-group">
            <input type="text" name="list" class="form-control" placeholder="Name" autofocus>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default" value="Create List">
          </div>
        </form>
        <br>

        <!-- list of lists -->
        <ul class="list-group">

          <li class="list-group-item">

            <!--  description -->
            description

            <div class="pull-right">
              <!-- pencil icon to toggle update form -->
              <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-1">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>

              <!-- trash can icon to delete todo -->
               <a href="javascript:void(0)" class="delete-todo">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>

            <!-- form to update todo -->
            <div class="collapse" id="update-1">
              <br>
              <form class="form-inline update-todo">
                <div class="form-group">
                  <input type="text" name="task" class="form-control" placeholder="Task" value="task">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-block btn-default" value="Update">
                </div>
              </form>
            </div>
          </li>


          <li class="list-group-item">

            <!-- description -->
            description

            <div class="pull-right">
              <!-- pencil icon to toggle update form -->
              <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-2">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>

              <!-- trash can icon to delete todo -->
               <a href="javascript:void(0)" class="delete-todo">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </div>

            <!-- form to update todo -->
            <div class="collapse" id="update-2">
              <br>
              <form class="form-inline update-todo">
                <div class="form-group">
                  <input type="text" name="task" class="form-control" placeholder="Task" value="task">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-block btn-default" value="Update">
                </div>
              </form>
            </div>
          </li>


        </ul>
      </div>
    </div>
  </div>
